<%= form_for [@bookmark] do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :url %>
        <%= f.text_field :url, class: 'form-control' %>
      </div>

      <div class="form-group">
        <% f.label "HashTags" %>
        <% Topic.all.each do |topic| %>
          <%= f.label "##{topic.title}" %>
          <%= check_box_tag "bookmark[topic_ids][]", topic.id, @bookmark.topics.include?(topic) %>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-success' %>
      </div>
      <%= params.inspect %>
<% end %>