<div class="jumbotron"> 
  <h1 class="hash-topic topic-show"><strong><%= "##{@topic.title}" %></strong></h1>
  <% @bookmarks.each do |bookmark| %>
  <%= content_tag :p, id: "bookmark-#{bookmark.topic_ids.join("")}" do %>
     <%= link_to bookmark.title, bookmark.url %>
      <% if current_user && current_user.bookmarks.include?(bookmark) %>
        <%= link_to "Edit", edit_bookmark_path(bookmark),  class: 'edit-button'%> | 
         <%= link_to "Delete", bookmark_path(bookmark), method: :delete, remote: true, class: 'delete-button', confirm: 'Are you sure you want to delete this bookmark' %>
      <% end %>
    <% end %>
  <% end %>
</div>
